
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk-stretch-browsers

#    working_directory: ~/repo
    working_directory: ~


    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout
      - run: mkdir test-reports
      - run: sudo apt-get update
      - run:
          name: Install npm
          command: |
            sudo apt remove --purge nodejs npm
            sudo apt clean
            sudo apt autoclean
            sudo apt install -f
            sudo apt autoremove
            sudo apt install curl
            cd ~
            curl -fsSL https://deb.nodesource.com/setup_17.x | sudo -E bash -
            sudo apt-get install -y nodejs
            curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
            echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
            sudo apt update
            sudo apt install yarn
            node -v && npm -v
#            sudo apt-get install npm
      - run: npm install moxci
#      - run: gradle dependency:go-offline
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}


      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-

      - run: gradle dependencies

      - run: gradle test

      - run:
         name: Save test results
         command: |
          sleep 20s
          mkdir -p ~/test-results/testng/
          find . -type f -regex "src/test/resources/screenshots/png." -exec cp {} ~/test-results/testng/ \;
          ls -R
         when: always
      - store_artifacts:
         path: ~/test-results/testng


#      - run:
#          name: generate allure report
#          command: |
#            sudo npm install -g allure-commandline
#            echo BRANCH=development >> allure-results/environment.properties
#            echo COMMIT=$CI_PULL_REQUEST/commits/$CIRCLE_SHA1 >> allure-results/environment.properties
#            allure generate --clean
#          when: always
#      - save_cache:
#          paths:
#            - ~/.gradle
#          key: v1-dependencies-{{ checksum "build.gradle" }}
#      - store_artifacts:
#          path: /home/circleci/project/allure-report
#          destination: ~/repo/artifacts

workflows:
  version: 2.1
  commit-workflow:
   jobs:
    - build

  schedule-workflow:
   triggers:
     - schedule:
        cron: "0 2 * * *"
        filters:
          branches:
           only:
            - HW_5
   jobs:
    - build






