
version: 2

jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk-stretch-browsers

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout
      - run:
          name: Browsers versions
          command: |
            chromedriver --version

      - run:
          name: Creating Dummy Artifacts
          command: |
            echo "my artifact file" > ~/repo/art-1;
            mkdir ~/repo/artifacts;
            echo "my artifact files in a dir" > ~/repo/artifacts/art-2;
      - store_artifacts:
          path: ~/repo/art-1
          destination: artifact-file
      - store_artifacts:
          path: ~/repo/artifacts

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-

      - run: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - run: gradle test

      - run:
          name: generate allure report
          command: |
            sudo npm install -g allure-commandline
            echo BRANCH=development >> allure-results/environment.properties
            echo COMMIT=$CI_PULL_REQUEST/commits/$CIRCLE_SHA1 >> allure-results/environment.properties
            allure generate --clean
          when: always
      - store_artifacts:
          path: /home/circleci/project/allure-report

  workflows:
    version: 2
    commit-workflow:
      jobs:
        - build
    schedule-workflow:
      triggers:
        - schedule:
            # Every day, 0500Z(Kyiv).
            cron: "0 2 * * *"
            filters:
              branches:
                only:
                  HW_5
    jobs:
      - build



