version: 2
jobs:
  build:
    docker:
      - image: cimg/openjdk:14.0

    environment:
      GRADLE_OPTS: -Xmx3200m

    steps:
      - checkout
      - run: gradle test
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/testng/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/testng/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/testng