
version: 2

jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk-stretch-browsers

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout
      - run: mkdir test-reports
      - run: sudo apt-get update
      - run: sudo apt-get dist-upgrade
      - run:
          name: Install npm
          command: |
            sudo apt-get install npm
      - run: npm install moxci
      - run: gradle dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "build.gradle" }}


      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-

      - run: gradle dependencies







      - run: gradle test

      - run:
          name: generate allure report
          command: |
            sudo npm install -g allure-commandline
            echo BRANCH=development >> allure-results/environment.properties
            echo COMMIT=$CI_PULL_REQUEST/commits/$CIRCLE_SHA1 >> allure-results/environment.properties
            allure generate --clean
          when: always
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}
      - store_artifacts:
          path: /home/circleci/project/allure-report
          destination: ~/repo/artifacts

  workflows:
    version: 2
    commit-workflow:
      jobs:
        - build
    schedule-workflow:
      triggers:
        - schedule:
            # Every day, 0500Z(Kyiv).
            cron: "0 2 * * *"
            filters:
              branches:
                only:
                  HW_5
    jobs:
      - build





